body {
    margin: 0;
    height: 100vh;
    font-family: Arial;
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: white;
    padding: 30px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #667eea;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}